<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project001</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
    <welcome-file>employee.html</welcome-file>
    <welcome-file>BenefitsCoordinator.html</welcome-file>
    <welcome-file>DepartmentSupervisor.html</welcome-file>
    <welcome-file>DepartmentHead.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PopulateFormsServlet</display-name>
    <servlet-name>PopulateFormsServlet</servlet-name>
    <servlet-class>com.revature.servlet.PopulateFormsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopulateFormsServlet</servlet-name>
    <url-pattern>/PopulateFormsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormManager</display-name>
    <servlet-name>FormManager</servlet-name>
    <servlet-class>com.revature.servlet.FormManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormManager</servlet-name>
    <url-pattern>/FormManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BC_FormManager</display-name>
    <servlet-name>BC_FormManager</servlet-name>
    <servlet-class>com.revature.servlet.BC_FormManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BC_FormManager</servlet-name>
    <url-pattern>/BC_FormManager</url-pattern>
  </servlet-mapping>
</web-app>