<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project0001</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
    <welcome-file>employee.html</welcome-file>
    <welcome-file>BenefitsCoordinator.html</welcome-file>
    <welcome-file>DepartmentSupervisor.html</welcome-file>
    <welcome-file>DepartmentHead.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormServlet</display-name>
    <servlet-name>FormServlet</servlet-name>
    <servlet-class>com.revature.servlet.FormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormServlet</servlet-name>
    <url-pattern>/FormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DSServlet</display-name>
    <servlet-name>DSServlet</servlet-name>
    <servlet-class>com.revature.servlet.DSServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DSServlet</servlet-name>
    <url-pattern>/DSServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormManager</display-name>
    <servlet-name>FormManager</servlet-name>
    <servlet-class>com.revature.servlet.FormManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormManager</servlet-name>
    <url-pattern>/FormManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BC_FormManager</display-name>
    <servlet-name>BC_FormManager</servlet-name>
    <servlet-class>com.revature.servlet.BC_FormManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BC_FormManager</servlet-name>
    <url-pattern>/BC_FormManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dsFormManager</display-name>
    <servlet-name>dsFormManager</servlet-name>
    <servlet-class>com.revature.servlet.dsFormManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dsFormManager</servlet-name>
    <url-pattern>/dsFormManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dhFormManager</display-name>
    <servlet-name>dhFormManager</servlet-name>
    <servlet-class>com.revature.servlet.dhFormManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dhFormManager</servlet-name>
    <url-pattern>/dhFormManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bcFormManager</display-name>
    <servlet-name>bcFormManager</servlet-name>
    <servlet-class>com.revature.servlet.bcFormManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bcFormManager</servlet-name>
    <url-pattern>/bcFormManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpServlet</display-name>
    <servlet-name>EmpServlet</servlet-name>
    <servlet-class>com.revature.servlet.EmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpServlet</servlet-name>
    <url-pattern>/EmpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bc2FormManager</display-name>
    <servlet-name>bc2FormManager</servlet-name>
    <servlet-class>com.revature.servlet.bc2FormManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bc2FormManager</servlet-name>
    <url-pattern>/bc2FormManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>com.revature.servlet.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
</web-app>